[submodule "asciidoc_twbs_backend"]
	path = asciidoc_twbs_backend
	url = https://github.com/aerostitch/asciidoc_twbs_backend.git
[submodule "bysas"]
	path = bysas
	url = https://github.com/aerostitch/bysas.git
