<?xml version="1.0"?>
<urlset>
  <url>
    <title>Home</title>
    <path/>
  </url>
  <url>
    <title>Oracle</title>
    <path>oracle</path>
    <url>
      <title>Certifications</title>
      <path>certifications</path>
    </url>
  </url>
  <url>
    <title>Misc</title>
    <path>misc</path>
    <url>
      <title>Imagevue</title>
      <path>imagevue</path>
    </url>
  </url>
</urlset>
